* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(rgb(12, 133, 52), rgb(109, 228, 149)) no-repeat;
}


.container {
    /* border: 2px solid green; */
    max-width: 300px;
    height: 800px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 5em; 
}

.container > div {
    /* border: 2px solid green; */
    max-width: 200px;
    align-self: center;
}

img {
    /* height: 100%; */
    max-width: 200px;
}